html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    top: 1rem;
    z-index: 9999;
    background: #ffffff;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 0.5px rgba(0,0,0,0.2);
}

#brandLogo {
    position:fixed;
    top:20px;
    left:20px;
    z-index: 70;
    height:80px;
    width:400px;
    text-decoration: none;
}

#brandLogo img {
    height:100%;
    float:left;
    margin-right:20px;
}

#brandLogo h1 {
    color:#fff;
}

#menu {
    position:fixed;
    top:20px;
    right:20px;
    z-index: 70;
    letter-spacing: 1px;
    font-size: 1.1em;
    list-style: none;
    color:#fff;
}

#menu li {
    display:inline-block;
    margin:10px 0;
}

#menu li a {
    padding:0 .7em .7em;
    color:#fff;
    text-decoration: none;
    transition:all 0.3s;
}

#menu li a:hover {
    box-shadow: 0 3px 0 #fff;
}

#donate-btn {
    background-color: #EFF7CF;
    padding: 5px;
    border-radius: 5px;
    transition:all 0.3s;
}

#donate-btn a {
    color:#000 !important;
}

#donate-btn:hover {
    background-color:#ccd3b0;
}

.section {
    background-color:#3DDC84;
}

#fp-nav ul li a span, #menu-line, .fp-slidesNav ul li a span {
    background: #F86734;
}

.bold {
    font-weight: bold;
}
.thin {
    font-weight: thin;
}

.box {
    margin-left:auto;
    margin-right:auto;
    border-radius:50px;
    background: linear-gradient(145deg,#4285F4,#224783);
    box-shadow: 16px 16px 31px #073042, -16px -16px 31px #05202c;
    padding:10px;
    text-align:center;
    display:grid;
    place-items:center;
    color:white;
}

.box .box {
    background: #D7EFFE !important;
    color:#000;
}

.box a {
    color:#000 !important;
}

.fp-overflow {
    overflow-y:unset !important;
}

#slidehome .content {
    background-image: url("../img/mi_a2.png");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.vw-60 {
    width:60vw;
}

.vh-75 {
    height:75vh;
}

#slidehome .content {
    width:50%;
    padding: 50px 20px;
}

h2,p {
    z-index: 1;
    position:relative;
}

#slidefeatures p {
    margin-bottom: 50px;
}

#features-grid {
    display:grid;
    column-gap: 45px;
    row-gap: 45px;
    grid-template-columns: auto auto auto;
    margin-bottom:50px;
}

#features-grid .box {
    border-radius: 25px;
    width: 10vw;
    transition:all 0.3s;
}

#features-grid .box i {
    font-size:24px;
}

#features-grid .box h4 {
    margin: 0;
}

#features-grid .box:hover {
    box-shadow: 5px 5px 10px #073042, -5px -5px 10px #05202c;
}


.image-gallery {
    display:grid;
    column-gap: 45px;
    row-gap: 45px;
    grid-template-columns: auto auto auto auto;
}
.image-gallery .gallery-item a {
    width: 10vw;
    height:100px;
}
.image-gallery .gallery-item a img {
    width:10vw;
    height:100px;
    object-fit:cover;
    object-position:0 20%;
    transition:all 0.3s;
}
.image-gallery .gallery-item a img:hover {
    box-shadow: 5px 5px 10px #073042, -5px -5px 10px #05202c;
}
.lightbox-container {
    position:absolute !important;
    
}
.lightbox-content {
    height:80vh;
}
.lightbox-content img {
    max-height:100% !important;
}
.lightbox-btn-previous {
    right:100%;
    left:auto !important;
}
.lightbox-btn-next {
    left:100%;
    right:auto !important;
}
.lightbox-btn-previous,.lightbox-btn-next {
    border:1px solid white;
}

#slideteam h2 {
    margin-bottom:50px;
}

.team {
    display:grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 60px;
}
.member {
    width: 10vw;
    transition:all 0.3s;
}
.member h2 {
    margin-bottom:20px !important;
}
.member img {
    border-radius:36px;
    width:90%;
}
.member a {
    margin-left:10px;
    margin-right:10px;
}
.member i {
    color:#000;;
    font-size:x-large;
}
.member:hover {
    box-shadow: 5px 5px 10px #073042, -5px -5px 10px #05202c;
}

#downloads-grid {
    display:block;
}

#dl-menu {
    list-style:none;
    padding:0;
    position: relative;
    z-index: 99999;
    margin-bottom:50px;
}

#dl-menu li {
    width:10vw;
    padding:10px 0px;
    margin:0 10px;
    background-color: #EFF7CF;
    border-radius: 15px;
    transition: all 0.3s;
    display:inline-block;
    color:#000;
}
#dl-menu li:hover {
    background-color:#ccd3b0;
}

#device-list {
    height:400px;
}

.device-card {
    display:inline-block;
    width:10vw;
    border-radius: 10px;
    background: #D7EFFE !important;
    color:#000;
    box-shadow: 16px 16px 31px #073042, -16px -16px 31px #05202c;
    transition: all 0.3s;
    padding: 10px 0;
}

.device-card:hover {
    box-shadow: 5px 5px 10px #073042, -5px -5px 10px #05202c;
}

.device-card div {
    display:block;
}

.device-card a {
    color:#000;;
    text-decoration: none;
    display:block;
    height:100%;
}

.device-url {
    text-align: center;
}
.device-url * {
    color:white;
}
.device-code {
    font-style: italic;
    font-size: smaller;
}
.device-name {
    font-size:large;
}

.none {
    display:none !important;
}

#samsung-devices,#oneplus-devices,#xiaomi-devices {
    display:grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    column-gap: 60px;
    row-gap: 60px;
}

#gi-boxes {
    display:grid;
    grid-template-columns: auto auto auto;
}
#gi-boxes .box {
    width:75%;
    height:100%;
    transition:all 0.3s;
}
#gi-boxes .box:hover {
    box-shadow: 5px 5px 10px #073042, -5px -5px 10px #05202c;
}
#gi-boxes .gi-contents {
    height:100%;
}
#gi-boxes a {
    color:white;
    text-decoration: none;
    font-size: xx-large;
}

@media only screen and (max-width:1279px) {
    .member {
        width:9vw;
    }
    .member h2 {
        font-size:larger;
    }
}

@media only screen and (max-width:1000px) {
    #menu {
        display:none;
    }
    #brandLogo {
        width:100%;
        left:0;
        display:flex;
        align-content: center;
        justify-content: center;
        height:8vh;
        font-size:2em;
    }
    #slidehome .content {
        width:80%;
        font-size:xx-large;
    }
    #slidefeatures h2 {
        font-size: 350%;
    }
    #slidefeatures h4 {
        font-size:175%;
    }
    #slidefeatures i {
        font-size:300% !important;
    }
    #slidefeatures p {
        font-size: 250%;
    }
    #features-grid {
        grid-template-columns: auto;
    }
    #features-grid .box {
        width:30vw;
    }
    #slidescreenshots h2 {
        font-size:350%;
    }
    .image-gallery {
        grid-template-columns: auto auto;
    }
    .image-gallery .gallery-item a img {
        width:20vw;
        height:200px;
    }
    .lightbox-btn {
        width:4.4em !important;
        height:4.4em !important;
    }
    #slideteam h2 {
        font-size:350%;
    }
    .team {
        grid-template-columns: auto;
        grid-row-gap: 50px;
    }
    .member {
        width:45vw;
    }
    .member img {
        width:12vw;
    }
    .member h2 {
        font-size: 250% !important;
    }
    .member p {
        font-size:xx-large;
        margin:0;
    }
    .member i {
        font-size:xxx-large;
    }
    .team .box {
        grid-template-columns: 1fr 1fr;
    }
    #slidedownloads h2 {
        font-size:350%;
    }
    #slidedownloads .content {
        height:80%;
    }
    #dl-menu {
        font-size:xx-large;
    }
    #dl-menu li {
        width:17vw;
    }
    #samsung-devices, #oneplus-devices, #xiaomi-devices {
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    .device-card {
        width:95%;
    }
    .device-code {
        font-style: italic;
        font-size: x-large;
    }
    .device-name {
        font-size:xx-large;
    }
    .device-username {
        font-size:x-large;
    }
    #slideget-involved h2 {
        font-size:350%;
    }
    #gi-boxes {
        grid-template-columns: auto;
        grid-row-gap: 50px;
    }
    #gi-boxes h3 {
        font-size:175%;
    }
    #gi-boxes p {
        font-size:x-large;
    }
    #gi-boxes i {
        font-size:xxx-large;
    }
}